/*
* Colors Variables
*/
$primary-color: #333;

/*
* Header elements colors
*/
$header-bg-color: white;
$mobile-menu-bg-color: rgb(255, 255, 255);
$dashed-mobile-border-color: rgb(121, 69, 211);
$mobile-menu-text-color: #333;

/*
* Call to action colors
*/
$cta-border-color: rgb(121, 69, 211);
$cta-bg-color: rgb(121, 69, 211);
$cta-text-color: #fff;
$cta-border-radius: 10px;
$cta-hover-color: rgb(136, 89, 216);

/*
* Decorator color
*/
$dashed-border-color: rgb(121, 69, 211);
$divider-color: rgb(240, 240, 240);

/*
* Footer elements colors
*/
$contact-bg-color: rgb(29, 33, 60);
$contact-text-color: #fff;
$contact-btn-border-color: rgb(121, 69, 211);
$contact-hover-color: rgb(189, 253, 166);
$footer-bg-color: rgb(121, 69, 211);
$social-media-mobile-color: #fff;
$social-media-desktop-color: #070928;
$attribution-color: #fff;

/*
* Education elements colors
*/
$degree-bg-color: #ffffff;
$degree-border-color: rgb(121, 69, 211);
$degree-text-color: #070928;
$bullet-color: rgb(107, 107, 107);

/*
* Work Experience elements colors
*/
$company-border-color: rgba(245, 245, 245, 0.932);
$company-active-border-color: #333;

/*
* Projects elements colors
*/
$project-bg-color: rgb(248, 248, 248);
$project-text-color: #333;
$project-border-color: #fff;

/*
* Single project elements colors
*/
$github-btn-color: #fff;
$github-btn-text-color: rgb(121, 69, 211);
$live-site-btn-color: rgb(121, 69, 211);
$live-btn-text-color: #fff;
$tech-badge-bg-color: rgb(155, 110, 231);

/*
* Single project: Previous/Next navigation links
*/
$link-text-color: #333;
$link-bg-color: rgb(184, 255, 158);
$link-border-color: #fff;
