* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

/*
* Contact form
*/
body.page-id-90 {
  height: 100%;
}

#primary.content-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
